{% extends "users/base.html" %} 

{% block head_content %}
<title>Platzigram sign in</title>
{% endblock %} {% block container %} 

{% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error }}
    </div>
{% endif %}

<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <small id="emailHelp" class="form-text text-muted"
      >Your data will not be shared with anyone.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="exampleInputPassword1"
    />
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Sign In!</button>
</form>

{% endblock %}
